div {
  font-family: 'Bitter', serif;
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 2em
}
h2 {
  font-size: 3em
}
p {
  font-size: 2em
}
.grey {
  transform: matrix3d(1,0,0.00,.0001,0.00,1,0.05,.0001,0,-0.05,1,0,0,,03,1);
  -webkit-transform: matrix3d(1,0,0.00,.0001,0.00,1,0.05,.0001,0,-0.05,1,0,0,,03,1);
  padding: 2em;
  border-color: black 3em;
  opacity: 0.9;
  background-color: #eee;
}
.restaurantCard {
  max-width: 30em;
  height: 15em;
  margin-left: 3em;
  margin-top: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black 3em;
  background-color: #faffeb;
  opacity: 0.9;
}
.logged {
  max-width: 30em;
  padding: 2em;
  height: 10em;
  display: inline;
}

.restaurantThumb {
  max-width: 100%;
  padding: 2em;
  font-size: .4em;
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: black 3em;
  background-color: #faffeb;
  opacity: 0.9;
}
