h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em
}
p {
  font-family: 'Poppins', sans-serif;
  font-family: 'Anton', sans-serif;
}
button {
  font-family: 'Poppins', sans-serif;

}

body {
  background-image: url('images/bg.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 60px 60px;
}

.mapTick {
  background-color: #e73b38;
  opacity: 0.7;
}

.footerCentered {
  border-top: 5px solid #e37674;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  text-align: center;
  background-color: white
}

.footerContent {
  position: relative;
  top: -8px;
}
/*MAIN WINDOWS*/

.mainWindow {
  left: 40px;
  position: absolute;
  width: 100%;
  padding-right: 4em;
  padding-bottom: 30px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
    /*GENERAL BUTTONS*/

.buttonMain {
  border-radius: 1px;
  background:  #e73b38;
  padding: .2em;
  font-size: 1.3em;
  border: 3px solid #e37674;
}
.buttonMain:hover {
  border-radius: 1px;
  background:  #e73b15;
  padding: .2em;
  font-size: 1.3em;
  border: 3px solid #e37655;
}

/*--- ButtonToolBar Centering ---*/

.btn-toolbar{
  text-align: center;
}​

/*--- End ButtonToolBar Centering ---*/
  /*FILTERBAR STYLE*/
.searchForm {
  width: inherit;
  background-color: inherit;
}

.filterBarStyle {
  z-Index: 1000;
  height: 4em;
  opacity: .85;
  border-radius: 0px;
}
.filterBarSticky {
  z-Index: 1000;
  height: 5em;
}

.bFilter {
  height:3em;
  font-size: 1.3em;
  color: black;
  border: 0px solid black;
  border-radius: 0px;
  background: #FDFAF5;

}
  /*NAVBAR STYLE*/
.menuSide {
  position: fixed;
  width: 300px;
  left: -250px;
  z-index: 3000;

  transition: all .5s;
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -o-transition: all .5s;
 -ms-transition: all .5s;
}

.menuSide.open {
  left: 0;
  width: 350px;
}

.verticalNavButton {
  font-size: 1.6em;
  width: 100%;
  color: black;
  background:  rgba(231,59,56,0.2);
  height: 2.2em;
  display: block;
  border: 0px solid;
  text-align: left;
  padding-left: 1em;
}

.verticalNavButton img {
  position:absolute;
  left:258px;
  height:30px;
  opacity: 1.5;

}

.verticalNavButton h1 {
  display: inline;
}

.navText {
  font-size: 1em;
  color: #000000;
  opacity: 1
}

.resultsContainer{
  z-index: -3;
}

.menuBar {
  max-width: 30em;
  height: 10em;
  z-Index: 101;
}

/*RestaurantThumb*/
.restaurantThumb {
  text-align: center;
  border-left: 1px;
  max-width: 100%;
  padding: 2em;
  border-color: #eee;
  opacity: 0.9;

}


/*--Spinner CSS ---*/

.map {
    width: 100%;
    height: 500px;
}

.rouletteMap {
    width: 100%;
    height: 500px;
}

.filterMap {
    height: 30em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.mainViewport {
  padding-top: 4em;
}

/*Roulette CSS*/


.spinner {
  margin: 0;
  font-size: 1.5em;
  position: relative;
  bottom: 2vh;
  left: auto;
  width: 100%;
  z-index: 100;
}
.spinner footer {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 2em;
}
.spinner footer .stop {
  width: 100%;
  height: 2em;
}
.spinner .stop {
  display: block;
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0 none;
  background: #e37674;
  color: white;
  text-transform: uppercase;
  outline: 0 none;
}

.roller {
  background: #e73b38;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.roller ul {
  width: 100%;
  position: absolute;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
  height: 2em;
}
.roller ul li {
  display: block;
  text-align: center;
  height: 2em;
}

@include keyframes(scroll-numbers){
	from { top: 0;  }
	to {  top: -28em;  }
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@-moz-keyframes scroll-numbers {
  from {
    top: 0;
  }
  to {
    top: -20em;
  }
}
@-webkit-keyframes scroll-numbers {
  from {
    top: 0em;
  }
  to {
    top: -20em;
  }
}
@keyframes scroll-numbers {
  from {
    top: 0em;
  }
  to {
    top: -20em;
  }
}

/*End of Spinner CSS*/

/*Loading*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    text-align: center;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
