h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em
}
p {
  font-family: 'Poppins', sans-serif;
  font-family: 'Anton', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: #faffeb;
  border-radius: 25px;
}
div {
  border-radius: 0px;
}

.mapTick {
  background-color: #e73b38;
  opacity: 0.7;
}

/*MAIN WINDOWS*/
.menuSide {
  position: fixed;
  left: -260px;
  z-index: 4;
  border-radius: 0px;
}

.mainWindow {
  left: 40px;
  position: absolute;
}

    /*GENERAL BUTTONS*/

.buttonMain {
  border-radius: 1px;
  background:  #e73b38;
  padding: .2em;
  font-size: 1.3em;
  border: 3px solid #e37674;
}
.buttonMain:hover {
  border-radius: 1px;
  background:  #e73b15;
  padding: .2em;
  font-size: 1.3em;
  border: 3px solid #e37655;
}

  /*FILTERBAR STYLE*/


.filterBarStyle {
  z-Index: 1000;
  height: 4em;
  opacity: .85;
  border-radius: 0px;
}
.filterBarSticky {
  z-Index: 1000;
  height: 5em;
}



.bFilter {
  height:3em;
  font-size: 1.3em;
  color: black;
  border: 0px solid black;
  border-radius: 0px;
  background: #FDFAF5;
}
  /*NAVBAR STYLE*/

.navStyle {
  font-size: 1.8em;
  color: black;
  border: 1px solid black;
  border-radius: 0px;
  background: repeating-linear-gradient(
    90deg,
    #eee 3px,
    #eee 10px,
    #fff 10px,
    #fff 5px
  );
}
.verticalNavButton {
  font-size: 1.8em;
  color: black;
  border: 1px solid black;
  border-radius: 0px;
  height: 2.2em;
}
.verticalNavButton h1 {
  display: inline;
}

.navText {
  font-size: 1em;
  color: #000000;
  opacity: 1
}

.resultsContainer{
  padding-top: 1em;
}

.menuBar {
  max-width: 30em;
  height: 10em;

  z-Index: 101;
}

/*RestaurantThumb*/
.restaurantThumb {
  border-left: 1px;
  max-width: 100%;
  padding: 2em;
  margin: 1em;
  border-color: #eee;
  opacity: 0.9;
  background: repeating-linear-gradient(
    67deg,
    #eee,
    #eee 1px,
    #fff 1px,
    #fff 21px
  );
}


/*--Spinner CSS ---*/

.map {
    width: 750px;
    height: 500px;
}

.filterMap {
    height: 30em;
}

.mainViewport {
  padding-top: 4em;
}


/*Roulette CSS*/


.spinner {
  margin: 0;
  font-size: 1.5em;
  position: relative;
  bottom: 2vh;
  left: auto;
  width: 750px;
  z-index: 100;
  -moz-box-shadow: 0px 0px 10px 0px black;
  -webkit-box-shadow: 0px 0px 10px 0px black;
  box-shadow: 0px 0px 10px 0px black;
}
.spinner footer {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 2em;
}
.spinner footer .stop {
  width: 100%;
  height: 2em;
}
.spinner .stop {
  display: block;
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0 none;
  background: darkorange;
  color: white;
  text-shadow: 0 0 0.5em black;
  text-transform: uppercase;
  outline: 0 none;
}

.roller {
  background: teal;
  color: white;
  text-shadow: 0 0 0.25em black;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.roller ul {
  width: 100%;
  position: absolute;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
  height: 2em;
}
.roller ul li {
  display: block;
  text-align: center;
  height: 2em;
}

@include keyframes(scroll-numbers){
	from { top: 0;  }
	to {  top: -28em;  }
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@-moz-keyframes scroll-numbers {
  from {
    top: 0;
  }
  to {
    top: -20em;
  }
}
@-webkit-keyframes scroll-numbers {
  from {
    top: 0em;
  }
  to {
    top: -20em;
  }
}
@keyframes scroll-numbers {
  from {
    top: 0em;
  }
  to {
    top: -20em;
  }
}

/*End of Spinner CSS*/

/*Loading*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    text-align: center;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
